{{ $page := . }}
<nav class="bg-crust">
  <div class="mx-auto px-4 md:flex items-center gap-4">
    <!-- Logo -->
    <div class="flex items-center justify-between md:w-auto w-full">
      <div class="md:hidden flex items-center gap-2 pe-3">
        <!-- Mobile Menu Button -->
        <button class="mobile-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <title>bars-3-bottom-left</title>
            <g fill="none">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" stroke="currentColor" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </button>
      </div>
      <a href="/" class="link-hover flex items-center my-3 mx-2 flex-1">
        <span class="font-bold hover:text-peach!">{{ .Site.Title }}</span>
      </a>
      <div class="md:hidden flex items-center gap-3">
        {{ partial "logo_links.html" . }}
        <!-- Mobile Dark Toggle -->
        {{ partial "dark_mode_toggle.html" (dict "context" . "id" "dark-mode-toggle-mobile") }}
      </div>
    </div>
    <!-- Primary Navigation -->
    <div
      class="navigation-menu max-h-0 md:max-h-8 overflow-hidden transition-[max-height] ease-linear md:transition-none duration-250 md:flex md:flex-row flex-col items-center justify-start md:space-x-1">
      {{ range site.Menus.main }}
      {{ $isCurrent := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
      <a href="{{ .URL }}"
        class="my-2 mx-3 block link-hover {{ if $isCurrent }}active{{ end }} last:mb-3 last:md:mb-2">{{ .Name
        }}</a>
      {{ end }}
    </div>
    <!-- Desktop Dark Mode Toggle -->
    <div class="hidden md:flex ms-auto items-center gap-3">
      {{ partial "logo_links.html" . }}
      {{ partial "dark_mode_toggle.html" (dict "context" . "id" "dark-mode-toggle") }}
    </div>
  </div>
</nav>
