{{ $page := . }}
<nav class="bg-mantle">
  <div class="container mx-auto px-4 md:flex items-center gap-4">
    <!-- Logo -->
    <div class="flex items-center justify-between md:w-auto w-full">
      <div class="md:hidden flex items-center gap-2 pe-3">
        <!-- Mobile Menu Button -->
        <button class="mobile-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <title>bars-3-bottom-left</title>
            <g fill="none">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" stroke="currentColor" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </button>
      </div>
      <a href="/" class="flex items-center py-3 px-2 flex-1">
        <span class="font-bold">{{ .Site.Title }}</span>
      </a>
      <div class="md:hidden flex items-center gap-2">
        <!-- Mobile Dark Toggle -->
        {{ partial "dark_mode_toggle.html" (dict "context" . "id" "dark-mode-toggle-mobile") }}
      </div>
    </div>
    <!-- Primary Navigation -->
    <div
      class="navigation-menu max-h-0 md:max-h-8 overflow-hidden transition-all md:transition-none duration-500 md:flex md:flex-row flex-col items-center justify-start md:space-x-1">
      {{ range site.Menus.main }}
      {{ $isCurrent := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
      <a href="{{ .URL }}" class="py-2 px-3 block {{ if $isCurrent }}active{{ end }}">{{ .Name }}</a>
      {{ end }}
    </div>
    <!-- Desktop Dark Mode Toggle -->
    <div class="hidden md:block ms-auto">
      {{ partial "dark_mode_toggle.html" (dict "context" . "id" "dark-mode-toggle") }}
    </div>
  </div>
</nav>
