<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partialCached "css.html" . }}
  {{ partialCached "js.html" . }}
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>

<body class="flex flex-col justify-between min-h-screen">
  {{ partialCached "navbar.html" . }}
  <main class="container max-w-screen-2xl mx-auto h-full mb-auto">
    {{ block "main" . }}
    {{ end }}
  </main>
  {{ partialCached "footer.html" . }}
</body>

</html>
