{{ define "main" }}
<div class="max-w-screen-xl mx-auto my-4 px-4 text-content">
  <h1 class="mb-4 text-center lg:text-left">About Me</h1>
  <div class="flex flex-col lg:flex-row-reverse gap-4 lg:gap-8">
    {{ $headshot := resources.Get "images/headshot.jpg" }}
    <div>
      <img class="max-h-full max-w-full m-auto" src="{{ $headshot.RelPermalink }}">
    </div>
    <div class="flex flex-col gap-4">
      <p>
        My name is Logan Roberts. I am a computer science student at the University of
        North Carolina at Greensboro (UNCG). I enjoy tinkering with computer hardware
        and love to build computers, whether it's for myself or helping my friends who
        aren't as computer savvy. I tinker quite a bit with computer software as well.
        For that reason I love Linux and the ability to configure it to be exactly how
        I like it. I find that programming and just general computer usage is more fun
        when you really know your environment, but I also just find the process of
        setting things up to be relaxing. My configuration for programs I use can be
        found in my <a href="https://github.com/lcroberts/dotfiles">dotfiles repo</a>.
      </p>
      <p>
        One of my favorite configurable programs is Neovim. It's by far my favorite
        text editor. I love how easy it is to make binds to do anything you could want,
        from just sending in keyboard inputs to running Lua functions, they are so
        versatile and allow you to tailor your experience so easily. I also love how
        responsive it is and how easy it is to access editor features to extend the
        editor.
      </p>
      <p>
        Another of my many interests and hobbies is keyboards. I love the feel and
        sound of a nice keyboard but more than that I love the customizability of
        keyboards that use open source firmware such as QMK and ZMK. I really only
        began to appreciate keyboard customizability once I began feeling wrist pain
        after longer periods of time programming. By making use of home row modifier
        keys I was able to mitigate the pain but the only thing that truly prevented it
        was a split keyboard. I encourage anyone who feels any amount of discomfort in
        their wrists while programming to take action now and to begin to think about
        what might be causing the discomfort.
      </p>
      <p>
        As far as programming languages go, I write my hobby programs and one off tools
        in Go. I love it's simplicity and appreciate how little I feel I have to fight
        the language. I also have experience coding in Java, C, and Python through
        school. In an internship I have used PHP with Laravel and Javascript with
        React. I have also spent a bit of time with Lua through writing Garry's Mod
        addons and writing Neovim configurations/addons.
      </p>
    </div>
  </div>
</div>
{{ end }}
