{{ define "main" }}
<div class="max-w-screen-xl mx-auto my-4 px-4 text-content">
  <h1 class="mb-4 text-center lg:text-left">About Me</h1>
  <div class="flex flex-col lg:flex-row-reverse gap-4 lg:gap-8">
    {{ $headshot := resources.Get "images/headshot.jpg" }}
    <div class="basis-1/4">
      <img class="max-h-full max-w-full m-auto" src="{{ $headshot.RelPermalink }}">
    </div>
    <div class="flex flex-col gap-4 basis-3/4 text-lg">
      <p>
        I'm Logan Roberts, a web developer at <a href="https://www.xternsoftware.com/">Xtern Software</a> and a 2025
        computer science graduate from UNC Greensboro. I specialize in PHP and
        JavaScript, building full-stack web applications with tools like
        Laravel, PostgreSQL, and React. My work includes projects like the drag-and-drop
        block editor in <a href="https://harmonyb2b.io/">Harmony B2B</a>, where
        I developed both the frontend interface and backend functionality. I
        enjoy working across the stack and exploring different languages and
        paradigms to create smooth, engaging user experiences.
      </p>
      <p>
        Other than my professional experience, I also spend a lot of time
        experimenting with things on my own. I have a VPS where I self-host a
        range of differnt services including game servers, and audiobook
        server, and more. I also maintain a <a
          href="https://github.com/lcroberts/container-builds?tab=readme-ov-file#wmbazzite">custom
          immutable Linux image</a> that I used to gain experience with github
        workflows and containerization technologies. Through hands-on
        experience I have gained extensive knowledge of Linux and the ability
        to write flexible scripts using bash or python.
      </p>
      <p>

        I'm a self-admitted text editing nerd who’s spent a lot of time making
        coding as enjoyable as possible. I use and love <a
          href="https://github.com/neovim/neovim">Neovim</a>, and have written
        two plugins: the more complex <a
          href="https://lazylangs.com/">LazyLangs.nvim</a> and the simpler <a
          href="https://github.com/lcroberts/persistent-colorscheme.nvim">persistent-colorscheme.nvim</a>,
        my intro to plugin development. My <a
          href="https://github.com/lcroberts/config.nvim">highly customized
          Neovim config</a> powers most of my hobby development. I'm also a fan
        of <a href="/blog/home-row-mods/">home row modifiers</a> and modal
        editing to help prevent wrist pain from long coding sessions.

      </p>
    </div>
  </div>
</div>
{{ end }}
