{{ define "main" }}
<div class="bg-mantle rounded-lg p-8 my-8">
  <h1 class="text-4xl !text-red mb-4">{{ .Title }}</h1>
  <div class="flex gap-2 flex-col md:gap-4 md:flex-row !text-peach mb-4">
    <div><i class="bi bi-person-square"></i> {{ delimit .Params.author ", " }}</div>
    <div><i class="bi bi-calendar2-week-fill"></i> {{ .Date.Format "January 2, 2006" }}</div>
    <div><i class="bi bi-hourglass-split"></i> {{ printf "%d Minutes" .ReadingTime }}</div>
  </div>
  <div class="mb-4">
  {{ partial "taxonomies.html" . }}
  </div>

  {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
  <!-- the variable is not an empty navigation -->
  <div class="mb-4">
    <h2 class="text-3xl text-peach mb-4">Table of Contents</h1>
      {{ .TableOfContents }}
  </div>
  <!-- it's a dot because we are inside of a `with` -->
  {{ end }}

  <div id="md-content" class="text-content">
    {{ .Content }}
  </div>
</div>
{{ end }}
